<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>createGame</title>
</head>
<body>
	<form method="post"  action="/created" >
	  <label >Game Name </label>
	  <input type="text" name="gameName" id="gameName" /> <br />
		<div id=cloneId1   class= "clone" >
			<hr>
			<label> Element Name </label>
			<input type="text" name="elementName1" id="elementName1" /><br />
			
			<label> Element Input Type </label>
			
			<select id="elementInputType1" name="">
			  <option value="textBox">Text box</option>
			  <option value="dropDown"> Drop Down</option>
			</select>
			<br />
 			<label> Element repeatability </label>
			<select id="elementRepeatability1" name="elementRepeatability1">
			  <option value="single"> One Element</option>
			  <option value="multiple"> Multiple Elements </option>
			  <option value="commaSeperatedMultiple"> comma Seperated Multiple </option>
			</select>
			</br>
		</div>
		<hr>
		<input type="button" id="buttonadd" value="Add Element" /> 
		
		<input type="submit" value="Submit" />
	</form>


</body>
</html>
