<h1 > All Experiment </h1 >
	
	
	<label style="font-family:arial;color:red;font-size:20px;"><%= @gameName %></label>	</br></br>
<ul>
	<%@experimentName.each_index do |t|%>
	<li><a href="/<%= @gameName %>/experiments/xml/<%= @experimentName[t] %>"> <%=@experimentName[t]%></a></li>
		<%end%>		
		</br></br>
</ul>
