<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>

	<title>message.html</title>

</head>
<body>
		<h1>Level cannot be deleted </h1>
		
		<h3>Following sequence contain this level</h3>
		
		<% @i.each do |t|%>
		<%= label_tag t%></br></br>
			<%end%>
			
			
		</br>		</br>		</br>		</br>
		<a style="font-size:20px;"  href="/showGames">Back to Show Games  </a>


</body>
</html>
