<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>message.html</title>
</head>
<body>
	<h1>Sequence cannot be deleted </h1>
	
	<h3>Following Experiment contains this Sequence</h3>
	
	<% @i.each do |t|%>
	<%= label_tag t%></br></br>
		<%end%>
		
		
	</br>		</br>		</br>		</br>

</body>
</html>
